@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --body-width: 1440px;           /* exact */
    --body-height: 1024px;          /* exact */
    --side-width: 535px;            /* exact */
    --form-width: calc(var(--body-width) - var(--side-width));

    --logo-width: 18%;              /* eyeballed */
    --logo-font-size: 6rem;         /* eyeballed */             
    --side-padding-top: 225px;      /* exact */
    --side-padding-bottom: 15px;    /* exact */

    --footer-font-size: 0.85rem;    /* eyeballed */
}

body {
    font-family: sans-serif;
    padding: 150px;
    background-color: rgba(3, 15, 27, 0.888);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-logo {
    color: white;
    padding-top: var(--side-padding-top);
    padding-bottom: var(--side-padding-bottom);   
    box-sizing: border-box;
    background-image: url("images/unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: var(--side-width);
    height: var(--body-height);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > img {
    width: var(--logo-width);
}

#header > div {
    font-family: "norsebold", sans-serif;
    font-size: var(--logo-font-size);
}

#footer {
    font-size: var(--footer-font-size);
    opacity: 0.6;
}

#footer > a {
    color: inherit;
}

#section-form {
    width: var(--form-width);
    height: var(--body-height);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-top, #form-inputs, #form-submit {
    padding-left: 30px;
    padding-right: 160px;
}

#form-top {
    padding-top: 170px;
    padding-bottom: 64px;
}

#form-top p:first-of-type {
    margin-bottom: 0;
}

#form-top p:first-of-type + p {
    margin-top: 0;
}

#form-top > p, #form-inputs > p {
    font-size: 1.4rem;
    font-weight: 700;
}

#form-inputs {
    padding-top: 25px;
    padding-bottom: 40px;
    box-shadow: 5px 5px 25px black;
}

#inputs {
    display: flex;
    gap: 75px;
}

#inputs > div {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#inputs > div > div {
    display: flex;
    flex-direction: column;
}

#form-submit {
    padding-top: 30px;
    padding-bottom: 220px;
}