@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --body-width: 1440px;           /* exact */
    --body-height: 1024px;          /* exact */
    --side-width: 535px;            /* exact */
    --form-width: calc(var(--body-width) - var(--side-width));

    --logo-width: 18%;              /* eyeballed */
    --logo-font-size: 6rem;         /* eyeballed */               
    --side-padding-top: 225px;      /* exact */
    --side-padding-bottom: 15px;    /* exact */
}

body {
    padding: 150px;
    background-color: rgba(3, 15, 27, 0.888);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-logo {
    color: white;
    font-family: "norsebold", sans-serif;
    padding-top: var(--side-padding-top);
    padding-bottom: var(--side-padding-bottom);   
    box-sizing: border-box;
    background-image: url("images/unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: var(--side-width);
    height: var(--body-height);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > img {
    width: var(--logo-width);
}

#header > div {
    font-size: var(--logo-font-size);
}

#footer {
    opacity: 0.75;
}

#footer > a {
    color: inherit;
}

#section-form {
    width: var(--form-width);
    height: var(--body-height);
    background-color: white;
}